body {
  margin: 0;
  display: flex;
}

.board {
  width: 500px;
  height: 500px;
  background-color: red;
  position: relative;
  align-self: center;
  margin: 0 auto;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.1s;
}