body {
    margin: 0;
}

.board {
    width: 500px;
    height: 500px;
    background-color: red;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s;
}